wget
torch
langchain
transformers
sentence-transformers
pydantic
langchain-huggingface
accelerate
bitsandbytes
safetensors
langchain-chroma
langchain-community
langserve
fastapi
uvicorn
huggingface-hub>=0.14.1
Pillow
sse_starlette